{%extends 'hod/base.html'%}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% load mymarks %}

{% for teacher in all_teachers %}
            
{{teacher.user.first_name}} {{teacher.user.middle_name}} {{teacher.user.last_name}}  <a href="{% url 'editprofile' teacher.user.id %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Edit Profile</a>
<a href="{% url 'delprofile' teacher.user.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete Profile</a>
<br><br>



{%endfor%}



{%endblock%}