{%extends 'hod/base.html'%}
{% block content %}
{% load static %}

{% load mymarks %}
<div class="container-fluid">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Staff Number</th>
        <th scope="col">Firstname</th>
        <th scope="col">Middlename</th>
        <th scope="col">Lastname</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            {% for teacher in all_teachers%}
          <td>{{teacher.staff_number}}</td>
          <td>{{teacher.user.first_name}}</td>
          <td>{{teacher.user.middle_name}}</td>
          <td>{{teacher.user.last_name}}</td>
          <td><a href="{% url 'admineditprofile' teacher.user.id %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Edit Profile</a></td>
          
          <td><a href="{% url 'delprofile' teacher.user.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete Profile</a></td>
        </tr>
        {%endfor%}
      </tbody>
</table>
</div>
{%endblock%}