{% load static %}

          <div class="sidebar" style="width: 200px;">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
              </div>
              <div class="info">
                <a href="" class="d-block"></a>
              </div>
            </div>

            <li class="nav nav-item nav-pills flex-column mb-auto">
           
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'registerteacher' as registerteacher %}
            <a href="{{ registerteacher }}" class="nav-link {% if request.path == registerteacher%} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Teacher
              </p>
            </a>
          </li>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
          </div>
          
          <!-- Page content -->
          <div class="content">
            ..
          </div>