{%extends 'student/studentbase.html'%}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for fee in fee_info%}
            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-info" style="margin-top: 30px; text-align: center; height: 50px; width: 300px;">
                    <div class="inner">
                       
                        <p ><strong> Term's Fee: {{fee.amount_payable}} </strong></p>
                    </div>    
                </div>
            </div>
            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-info" style="margin-top: 30px; text-align: center; height: 50px; width: 300px;">
                    <div class="inner">
                        <p ><strong>Paid: {{fee.amount_paid}}</strong></p>
                    </div>    
                </div>
            </div>
            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-info" style="margin-top: 30px; text-align: center; height: 50px; width: 300px;">
                    <div class="inner">
                        <p ><strong>balance: {{fee}}</strong></p>
                    </div>    
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}
